<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dc9835;">
  <a class="navbar-brand" href="#"><img style="height: 45px;width: 50px;" src="https://media-exp1.licdn.com/dms/image/C4E0BAQGOGlPUDqdMmw/company-logo_200_200/0?e=1604534400&v=beta&t=55vzJDlHZZVkaE4RmlHOJQz0bDKr0UgichKRFYjFc1M" class="rounded-circle" />
    ShopifyBridge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/product">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="categorymngmt">Category Management</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="add-product">Product Management</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="product-list">Product Report</a>
        </div>
      </li>
    </ul>
   
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto float-right">
        <li><a class="dropdown-item" routerLink="/cart">Cart <span class="badge badge-danger">{{cartCount}}</span></a></li>
      </ul>
      <input class="form-control mr-sm-2"  name="CategoryName" type="search" placeholder="Search by Category" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="SearchProduct()" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>